@import '../abstracts/variables'




$header-button-font-size: 0.8em
$header-button-color: transparentize($brand-white, 0.5)
$header-button-space-between: 2em


.header-button
    font-size: $header-button-font-size
    color: $header-button-color
