mixin animation-card(name, description)
    .animation-card&attributes(attributes)
        .animation-card-preview
            .animation-element
        .animation-footer
            h6.animation-name= name    
            p.animation-description= description
            a.animation-card-link Open editor