mixin usage-step(step_number, title, subtitle)
    .usage-step
        span.usage-step-number= step_number
        img.usage-step-illustration(src="/images/illustrations/step-#{step_number}.svg")
        h3.usage-step-title= title
        p.usage-step-subtitle= subtitle
