// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Keyframe Base font family stack
/// @type List
$text-font-stack: 'Inter', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default





/// Brand black color
/// @type Color
$brand-black: #0a0501

/// Brand white color
/// @type Color
$brand-white: #FFFFFF

/// Brand orange color
/// @type Color
$brand-primary: #9900ff

/// Text color
/// @type Color
$text-color: #EEEEEE




/// Container's maximum width
/// @type Length
$max-width: 1180px !default





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ('small': 320px, 'medium': 768px, 'large': 1024px) !default
